/*=== Fuentes de texto ===*/
@import url('https://fonts.googleapis.com/css?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inria+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

/*=== Estilos apartado acerca de nosotros ===*/

/* Banner */
.banner-acerca-nosotros{
    clip-path: polygon(0 0, 100% 0%, 100% 84%, 0% 100%);
    width: 100%;
    height: 65vh;
}

.banner-acerca-nosotros .cont-banner{
    position: absolute;
    width: 100%;
    height: 65vh;
    background: url("../img/fondo4.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.fondo-imagen{
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg,rgba(44, 44, 44, 0.822),rgba(15, 3, 126, 0.808),rgba(156, 154, 154, 0.712));
}

.fondo-imagen .titulo-banner{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fondo-imagen .titulo-banner h2{
    font-family: 'Abel', sans-serif;
    color: white;
    font-size: 2.7rem;
}

/* Titulos de las secciones */
.titulo-section{
    margin-top: 120px;
    text-align: center;
}
.titulo-section h3{
    font-size: 100px;
    font-weight: 600;
    font-family: 'Archivo Black', sans-serif;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-attachment: fixed;
    margin-bottom: 120px;
    color: rgb(46, 44, 44);
}

.titulo-section p{
    font-size: 1.3rem;
    color: rgb(46, 44, 44);
}

/* Estilo sección nosotros */
.titulo-nosotros h3{
    background-image: url("../img/fondo-texto1.jpg");
}

/* Estilos de la sección que hacemos */
.titulo-que-hacemos h3{
    background-image: url("../img/fondo-texto2.jpg");
}
.cont-que-hacemos{
    margin-top: 50px;
    width: 100%;
    display: flex;
    background: rgb(30, 30, 31);
}
.img-que-hacemos{
    width: 50%;
    height: 300px;
    background: url("../img/img_banner2.jpg");
    clip-path: polygon(0 0, 100% 0%, 86% 100%, 0% 100%);
}
.cont-descrip{
    width: 50%;
    height: 300px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(240, 242, 243);
    font-family: 'Fira Sans', sans-serif;
}

.cont-descrip article{
    padding: 10px 0;
}

.cont-descrip h5{
    font-size: 1.5rem;
    color: rgb(238, 67, 81);
}

/*=== Separador entre secciones ===*/
.section-separador{
    margin-top: 200px;
    width: 100%;
    height: 250px;
    background: url("../img/separador2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.fondo-separador{
    width: 100%;
    height: 250px;
    background: linear-gradient(rgba(92, 102, 161, 0.815),rgba(255, 0, 0, 0.671));
}

/* Estilo sección objetivo */
.titulo-objetivo h3{
    background-image: url("../img/fondo-texto3.jpg");
}

.cont-cajas-objetivo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
}

.caja-objetivo{
    width: 30%;
    height: 190px;
    display: flex;
    align-items: center;
}

.caja-objetivo img{
    margin-left: 30px;
}

.caja-objetivo p{
    font-size: 2rem;
    color: rgb(244, 246, 247);
    font-family: 'Inria Sans', sans-serif;
}

.caja-objetivo2 p{
    color: #312f2f;
}

.caja-objetivo1{
    background: rgb(240, 82, 19);
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.caja-objetivo2{
    background: rgb(187, 187, 194);
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.caja-objetivo3{
    background: rgb(18, 30, 134);
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

/* Estilos de la sección preguntas frecuentes */
.section-preguntas-frecuentes{
    margin-top: 100px;
    width: 100%;
    background: rgb(34, 34, 39);
}

.cont-preguntas-frecuentes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}

.cont-preguntas-frecuentes .titulo-preguntas-frecuentes h4{
    font-size: 2rem;
    padding: 50px 0;
    color: white;
    font-family: 'Raleway', sans-serif;
}

.cont-acordeon{
    width: 80%;
}

.item-acordeon{
    width: 100%;
    border-radius: 6px;
    background: rgb(19, 18, 18);
    box-shadow: 0.5rem 2px 0.5rem rgba(0, 0, 0, .1);
    margin-bottom: 15px;
    padding: 0 10px;
}

.acordeon-link{
    font-size: 1.1rem;
    color: rgb(123, 150, 238);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    cursor: pointer;
}

.acordeon-link i{
    font-size: 16px;
    color: rgb(210, 222, 226);
}

.acordeon-link .fa-minus{
    display: none;
}

.item-acordeon .respuesta{
    position: relative;
    background: rgb(39, 41, 51);
    display: none;
}

.respuesta::before{
    content: "";
    position: absolute;
    width: .4rem;
    height: 100%;
    background: rgb(235, 41, 41);
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.respuesta p{
    color: white;
    padding: 0.9rem;
}

/*.item-acordeon:target .respuesta{
    max-height: 20rem;
}*/

/*=== Media Query ===*/

/* Titulos de secciones responsive */
@media(max-width:920px){
    .titulo-section h3{
        font-size: 80px;
    }
}

@media(max-width:800px){
    .titulo-section h3{
        font-size: 70px;
    }
}

@media(max-width:800px){
    .titulo-section h3{
        font-size: 60px;
    }
}
@media(max-width:369px){
    .titulo-section h3{
        font-size: 50px;
    }
}  
@media(max-width:890px){
    /* Cajas seccion que hacemos responsive */
    .cont-que-hacemos{
        flex-direction: column;
    }
    .img-que-hacemos, .cont-descrip{
        width: 100%;
    }
    .img-que-hacemos{
        margin-bottom: 15px;
    }
    .cont-que-hacemos .img-que-hacemos{
        clip-path: none;
    }
}

/* Cajas objetivo responsive */
@media(max-width:1142px){
    .cont-cajas-objetivo{
        flex-direction: column;
    }
    .cont-cajas-objetivo .caja-objetivo{
        width: 100%;
        clip-path: polygon(0% 0%, 90% 0, 100% 50%, 90% 100%, 0% 100%);
        margin-top: 20px;
    }
}  

/*=== Animaciones ===*/
@keyframes banner-titulo{
    0%{
        margin-top: 100px;
        opacity: 0;
    }
    30%{
        color: rgb(70, 67, 238);
    }
    80%{
        color: rgb(79, 75, 122);
    }
    100%{
        opacity: 1;
    }
}
@keyframes animacion-nosotros{
    0%{
        transform: translateX(100%);
        opacity: 0;
    }
}
@keyframes animacion-img{
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
}
@keyframes animacion-cont-descrip{
    0%{
        opacity: 0;
        transform: translateX(100%);
    }
}
@keyframes animacion-que-hacemos{
    0%{
        transform: translateX(-100%);
        opacity: 0;
    }
}
@keyframes animacion-caja{
    0%{
        transform: rotateY(45deg);
    }
}
